$primaryTextColor: #313F54;

$inputBorder: 1px solid #ddd;
$inputBorderRadius: 4px;
$inputErrorBorder: 1px solid #ff324d;

$primaryColor: #ef8822; 
$primaryColorHover: #A95400;
$hoverShadowColor: #e8780a;

$disabledColor: #DCE1E8;
$disabledColorHover: #b8bec5;
$disabledTextFieldBackgroundColor: #F9F9F9;

$listSelectedHighlightColor: $primaryColor;
$listTextColor: #6C757D;
$headerTextColor: #eaeaea;

$dividerColor: #dadadd;

$containerBackgroundColor: #f6f7f8;
$footerBackgroundColor: transparent;

$gridOddRowBackgroundColor: #f6f7f8;
$separatorBackgroundColor: #f6f7f8;

$tabHeaderBackgroundColor: #fafbfc;

