// TODO: Remove this file after using Tfs UI tabs for all Tabs;
.mwb-tabs-nav {
  &.nav-tabs {
    padding-left: 0;
    border-bottom: none;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(5, 15%);
    text-align: center;
  }

  &.model-test-nav-tabs {
    padding-left: 0;
    border-bottom: none;
    display: grid;
    align-items: center;
    justify-content: left;
    grid-template-columns: 180px 180px;
    text-align: center;
    margin-bottom: 30px;
  }

  &.model-test-results-nav-tabs {
    padding-left: 0;
    border-bottom: none;
    display: grid;
    align-items: center;
    justify-content: left;
    grid-template-columns: repeat(3, 15%);
    text-align: center;
    margin-bottom: 30px;
    margin-left: 10px;
  }

  .mwb-tabs-nav-item {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 10px;
    padding-left: 10px;
    border-bottom: solid 2px transparent;
    box-sizing: border-box;
  }

  .mwb-tabs-nav-link {
    padding-left: 0;
    border-bottom: solid 2px transparent;
    cursor: pointer;

    &.nav-link.active {
      border-color: transparent;
      border-bottom: solid 2px #666;
      background-color: transparent;
    }

    a:not([href]):not([tabindex]):hover,
    a:not([href]):not([tabindex]):focus,
    &.nav-link:hover,
    &.nav-link.active:hover,
    &:hover {
      border: none;
      background: transparent;
      color: $primaryColor;
      display: block;
    }
    &.nav-link.active:hover {
      border-bottom: solid 2px #666;
    }
 }
}