
#CreateModelForm {
  .actionBtnContainer {
    margin-top: 20px;
  }

  .BuildOptions {
    height: 50px;
    padding-top: 8px;
  }

  .configOptions {
    padding-top: 8px;
  }

  .configOptions {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .modelConfigDownload {
    margin-left: 10px;
  }
}
